if uname -a | grep -q Darwin; then
  alias goto_dekeo="cd ~/workspace/Office/spree-jiffyshirts"
  alias personal_projects="cd ~/workspace/Personal"
  alias practice_projects="cd ~/workspace/Practice"
else
  alias goto_dekeo="cd ~/jiffyshirts"
fi


alias reload_zsh="source ~/.zshrc"
alias reload_bash="source ~/.bashrc"
alias vimconf="cd ~/.config/nvim"

# this is added because I mistype it a lot ;)
alias gti="git"

# alias ngrok="/Applications/ngrok"

alias c="clear -x"
alias ctree="/opt/component_tree/bin/ctree"

function ggrm() {
  local bm="$(git_current_branch)"
  # gcm - git co master
  gcm && gup && gco $bm && grbm
}

# alias pbcopy="xclip -sel clip"

source ~/.jiffy-aliases
