if uname -a | grep -q Darwin; then
  # Jiffy
  alias jiffy="cd ~/workspace/Office/spree-jiffyshirts"
  # Personal
  alias pp="cd ~/workspace/Personal"
  alias remna="pp && cd remnast"
  alias vitt="pp && cd vittarth"
  alias p2k="pp && cd proton2kdbx"
  alias rp2k="p2k && cd proton2kdbx-ruby"
  alias zp2k="p2k && cd kdbx"
  alias mobs="pp && cd Obsidian/mindmap-remote"
  # Finance
  alias ledger="cd ~/Documents/paisa/"
  # Configs
  alias ultra="cd ~/.config/ultra"
  # Practice
  alias prep="cd ~/workspace/Practice"
  alias zigp="prep && cd Zig"
  alias zige="prep && cd exercism/zig"
else
  alias jiffy="cd ~/jiffyshirts"
fi


alias reload_zsh="source ~/.zshrc"
alias reload_bash="source ~/.bashrc"
alias vimconf="cd ~/.config/nvim"

# this is added because I mistype it a lot ;)
alias gti="git"

# alias ngrok="/Applications/ngrok"

alias c="clear -x"
alias ctree="/opt/component_tree/bin/ctree"

function ggrm() {
  local bm="$(git_current_branch)"
  # gcm - git co master
  gcm && gprom && gco $bm && grbm
}

# alias pbcopy="xclip -sel clip"

alias swap_nvim="rm -rf ~/.local/state/nvim/swap/*.swp"

alias dc="docker compose"

source ~/.jiffy-aliases
