if uname -a | grep -q Darwin; then
  alias jiffy="cd ~/workspace/Office/spree-jiffyshirts"
  alias personal_projects="cd ~/workspace/Personal"
  alias practice_projects="cd ~/workspace/Practice"
  alias mindmap="cd ~/workspace/Personal/Obsidian/mindmap/mindmap-remote"
  alias ledger="cd ~/Documents/Personal/finances/"
else
  alias jiffy="cd ~/jiffyshirts"
fi


alias reload_zsh="source ~/.zshrc"
alias reload_bash="source ~/.bashrc"
alias vimconf="cd ~/.config/nvim"

# this is added because I mistype it a lot ;)
alias gti="git"

# alias ngrok="/Applications/ngrok"

alias c="clear -x"
alias ctree="/opt/component_tree/bin/ctree"

function ggrm() {
  local bm="$(git_current_branch)"
  # gcm - git co master
  gcm && gup && gco $bm && grbm
}

# alias pbcopy="xclip -sel clip"

alias swap_nvim="rm -rf ~/.local/state/nvim/swap/*.swp"

source ~/.jiffy-aliases
