[user]
	name = Praveen Dhawan
	email = praveen@pdhawan.com

[github]
  user = praveendhawan

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	pretty = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cb = rev-parse --abbrev-ref HEAD
	undo = reset HEAD~
        cp = cherry-pick

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]
	excludesfile = ~/.gitignore_global
# CRLF is replaced with LF when writing that file to the object database, and NOT vice versa
  autocrlf = input
	editor = vim
[pager]
	branch = false
