[user]
	name = Praveen Dhawan
	email = praveen@pdhawan.com

[github]
  user = praveendhawan

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	pretty = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cb = rev-parse --abbrev-ref HEAD
	undo = reset HEAD~
  cp = cherry-pick

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]
	excludesfile = ~/.gitignore_global
# CRLF is replaced with LF when writing that file to the object database, and NOT vice versa
  autocrlf = input
	editor = vim

# [diff]
	tool = vimdiff
	# Detect copies as well as renames
	renames = copies

[diff "bin"]
	# Use `hexdump` to diff binary files
	textconv = hexdump -v -C

# [color]
#   ui = auto

# [color "branch"]
# with yello background color and terminal color font
#   current = yellow reverse
#   font color
#   local = yellow
#   remote = green

# [color "diff"]
#   meta = yellow bold
#   frag = magenta bold # line info
#   old = red # deletions
#   new = green # additions

# [color "status"]
#   added = yellow
#   changed = green
#   untracked = cyan

[pager]
  # force not to use pager for branches and status
  branch =
  status =
  stash =
[help]
	# Automatically correct and execute mistyped commands
  autocorrect = 1

# Auto added by Github Desktop
# Not sure why will investigate when i get time
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
