extends html

snippet <%% "<% ... %>" b
<% $0 %>
endsnippet

snippet <%= "<%= ... %>" b
<%= $0 %>
endsnippet

snippet <%# "<%# ... %>" b
<%# $0 %>
endsnippet

snippet rend "render" b
render partial: :${1:partial_name}
endsnippet

snippet component "component" b
component('${1:component_path}'$0)
endsnippet
