# console log
snippet con "console.log" r
console.log($0);
endsnippet

# alert
snippet alert "alert" r
alert($0);
endsnippet

# function
snippet func "function functionName" r
function ${1:function_name} (${2:argument}) {
	$0
}
endsnippet

snippet vf "Function assigned to var"
${1:var} = function ${2:function_name} (${3:argument}) {
	$0
}
endsnippet
